<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>添加</title>
<link type="text/css" rel="stylesheet" th:href="@{/css/page.css}" />
<script type="text/javascript" th:src="@{/js/jquery/jquery-3.3.1.js}" ></script>
<!-- validation -->
<script type="text/javascript" th:src="@{/js/jquery/jquery.validate.js}" ></script>
<!-- layer -->
<link type="text/css" rel="stylesheet" th:href="@{/plug/layui/css/layui.css}" />
<script type="text/javascript" th:src="@{/plug/layui/layui.js}"  charset="utf-8"></script>

<link type="text/css" rel="stylesheet" th:href="@{/js/layer/skin/layer.css}"/>
<script type="text/javascript" th:src="@{/js/layer/layer.js}" ></script>

<style type="text/css">

.need_span{
	color: red;
	display: none;
}
.need_0, .validation_span{
	color: red;
}
.need_1{
	color: #666666;
}
.input_0{
	width: 200px;
}
.form_table td{
	padding: 5px;
}
.text_ad_0{
	font-weight: bold;
	color: #444444;
	white-space: nowrap;
}
</style>

<script type="text/javascript"  th:inline="javascript">


$(function(){

	//添加贡献记录
	$("#addGx").click(function(){
		layer.confirm('确认生成吗？', {icon: 3, title:'提示'}, function(index){
			$.ajax({
				type:"POST",
				async:true,  //默认true,异步
				url:"/admin/fenlei/adds",
				beforeSend: function () {
					layer.msg('拼命添加数据中...', {icon: 16,shade: [0.5, '#f5f5f5'],scrollbar: false,offset: 'auto', time:600000});
				},
				success:function(data){
					console.log(data);
					if(data == "SUCCESS"){
						layer.alert('保存成功！', {icon: 1}, function(indexOk){
							parent.search();
							parent.$("#add_iframe iframe").attr("src", "");
							parent.$("div").first().show();
							parent.$("#add_iframe").hide();
							parent.layer.closeAll();
						});
					}else if(data == "LGINOUT"){
						//重新登录
						parent.window.location.href = "/logout";
					}else{
						layer.alert('保存失败！', {icon: 2}, function(indexNo){
							parent.layer.closeAll();
						});
					}
				}
			});
		});

	});

    //返回按钮
    $("#addLj").click(function(){
		layer.confirm('确认生成吗？', {icon: 3, title:'提示'}, function(index){
			$.ajax({
				type:"POST",
				async:true,  //默认true,异步
				url:"/admin/fenlei/addsjs",
				beforeSend: function () {
					layer.msg('拼命添加数据中...', {icon: 16,shade: [0.5, '#f5f5f5'],scrollbar: false,offset: 'auto', time:600000});
				},
				success:function(data){
					console.log(data);
					if(data == "SUCCESS"){
						layer.alert('加载成功！', {icon: 1}, function(indexOk){
							parent.search();
							parent.$("#add_iframe iframe").attr("src", "");
							parent.$("div").first().show();
							parent.$("#add_iframe").hide();
							parent.layer.closeAll();
						});
					}else if(data == "LGINOUT"){
						//重新登录
						parent.window.location.href = "/logout";
					}else{
						layer.alert('保存失败！', {icon: 2}, function(indexNo){
							parent.layer.closeAll();
						});
					}
				}
			});
		});

    });
});


</script>
</head>
<body>
<div  style="margin-left:15px; height: 400px;">
<div class="first_div" style="border:none;">
	<div id="adListDiv" align="left" >
	<form>
		<table class="form_table" style="border-collapse: collapse;margin-left:20px;margin-top:10px;">
			<tr>
				<td colspan="2" align="left" >
					<div style="margin-top:10px;margin-bottom:20px;margin-left:120px;">
						<input type="button" class="layui-btn" lay-submit="" lay-filter="add" id="addGx" name="addGx" value="添加全国贡献记录" style="" />
						<input type="button" class="layui-btn" lay-submit="" lay-filter="add" id="addLj" name="addLj" value="添加江苏省贡献记录" style="margin-left:20px;" />
					</div>
				</td>
			</tr>
		</table>
	</form>
		</div>
	</div>
</div>
</body>
</html>